<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Home</title>
	<link href="/assets/index.css" rel="stylesheet" type="text/css" />
</head>

<%- include('partials/header'); -%>
<%- include('partials/navigation'); -%>

<body>

    <div id="content">
    <main>
        <div class="dailyQuiz">
            <h2>Daily Random Quiz</h2>
            <br>
            <h2>New random quiz daily!</h2>
            <br>
            <h2>Daily quiz leaders</h2>
            <h3>1. MMCGEE</h3>
            <h3>2. CVAIL</h3>
            <h3>3. PLINDE</h3>
            <br>
            <button class="button" id="dailyPlay">Play</button>

        </div>

        <div class="weeklyQuiz">
            <h2>Weekly Random Quiz</h3>
                <br>
                <h2>New random quiz weekly!</h2>
                <br>
                <h2>Daily quiz leaders</h2>
                <h3>1. MMCGEE</h3>
                <h3>2. CVAIL</h3>
                <h3>3. PLINDE</h3>
                <br>
                <button class="button" id="weeklyPlay">Play</button>

        </div>

        <div class="randomQuiz">
            <h2>Random Quiz</h3>
                <br>
                <h2>Customize your own quiz!</h2>
                <br>
                <select class="customCateg">
									<option value="Any">Any Category</option>
									<% for (var i = 0; i < categories.length; i++) { %>
	                <option value="<%= categories[i].CATEGORY_NAME %>"><%= categories[i].CATEGORY_NAME %></option>
	                <% } %>
                </select>
                <br>
                <br>
                <select class="customDiff">
                    <option value="Any">All Difficulties</option>
										<% for (var i = 0; i < difficulties.length; i++) { %>
		                <option value="<%= difficulties[i].LEVEL %>"><%= difficulties[i].LEVEL %></option>
		                <% } %>
                </select>
                <br>
                <br>
								<br>
								<br><br><br><br><br><br>
                <button class="button" id="randomPlay">Play</button>

        </div>



    </main>
    </div>


    <%- include('partials/footer'); -%>

</body>
</html>
